html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	background-color: #f1f1f1;
	font-family: "Open Sans";
	font-size: 12px;
}
h2 {
	color: #53545e;
	font-size: 1.5rem;
	font-weight: 700;
	text-transform: uppercase;
}
p {
	color: #bfc0c3;
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: justify;
}
a {
	color: #ffffff;
	cursor: pointer;
	font-size: 1rem;
}
a:hover,
a:hover {
	color: #bfc0c3;
	text-decoration: none;
}
a.button {
	background-color: #53545e;
	border: 1px solid #53545e;
	color: #ffffff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	height: 3rem;
	width: 6.5rem;
}
a.button:hover,
a.button:focus {
	background-color: transparent;
	border: 1px solid #53545e;
	color: #000000;
	text-decoration: none;
	text-shadow: 1px -1px 1px #000000; 
}
hr.line {
	background-color: #eaeaea;
	border: 0;
	margin: 2.5rem 0;
	height: .1rem;
}
#content.container {
	background-color: #ffffff;
	padding: 2.5rem;
}

/* header style */
.header {
	background-color: #e1e1e1;
}
.navbar {
	padding: 0;
}
.navbar .container {
	background-color: #53545e;
	height: 8.5rem;
	padding: 0;
}
.navbar-brand {
	margin-right: 0;
}
.navbar-brand img {
	padding-left: 2.5rem;
	padding-right: 1.5rem;
}
.navbar-brand span {
	font-size: 2.5rem;
	font-weight: 700;
	text-transform: uppercase;
}
.navbar-brand span:nth-of-type(1) {
	color: #ffffff;
}
.navbar-brand span:nth-of-type(2) {
	color: #a6a7b0;
}
.header_info p {
	color: #f1f1f1;
	font-weight: 700;
	padding-right: 2.5rem;
}

/* main style */
.main_image {
	padding-bottom: 1.5rem;
}
.main_description h2 {
	padding-bottom: 1.5rem;
}
.main_description p {
	padding-bottom: 1.5rem;
}

/* news style */
.news_image {
	padding-bottom: 1.5rem;
}
.news_description h2 {
	padding-bottom: 1.5rem;
}
.news_description p {
	padding-bottom: 1.5rem;
}

/* photos style */
.photos_item {
	background-color: #dedede;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 13.5rem;
	width: 13.5rem;
}
.photos_item p {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 2rem;
	text-align: center;
	text-transform: uppercase;
}

/* blog style */
.blog_item h2 {
	color: #5e5e63;
	padding-bottom: 1.5rem;
}
.blog_item p {
	padding-bottom: 1.5rem;
}

/* footer style */
.footer {
	background-color: #e1e1e1;
}
.footer .row, .footer .container {
	margin: 0 auto;
	padding: 0;
}
.footer hr.line {
	margin: 1.5rem 0rem;
}
.footer .footer_top {
	background-color: #f1f1f1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 2.5rem 2.5rem;
}
.footer_top__soc {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.footer_top__soc div {
	background-color: #e1e1e1;
	border-radius: 50%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 0 .2rem;
	height: 3rem;
	width: 3rem;
}
.footer_bottom {
	background-color: #53545e;
	padding: 2.5rem 2.5rem 1.5rem;
}
.footer_bottom__info p {
	color: #ffffff;
}
.footer_bottom__links {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.footer_bottom__links ul li {
	background: url(../images/bullet.png) left center no-repeat;
	margin-bottom: .6rem;
	padding-right: 1rem;
}
.footer_bottom__links ul li a {
	padding-left: 1.5rem;
}
.footer_bottom__copyright span {
	color: #ffffff;
}
.footer_bottom__do {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.footer_bottom__do a {
	color: #bfc0c3; 
}
.footer_bottom__do span {
	color: #bfc0c3;
	padding: 0 .6rem;
}


/* Large desktops and laptops */
@media (min-width: 1200px) {
	html, body {
		font-size: 16px;
	}
	/* photos style */
	.photos_item {
		margin: 0 auto;
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	html, body {
		font-size: 14px;
	}
	/* photos style */
	.photos_item {
		margin: 0 auto;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	html, body {
		font-size: 13px;
	}
	/* photos style */
	.photos_item {
		margin: 0 auto;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	html, body {
		font-size: 10.5px;
	}
}

/* Landscape phones and smaller */
@media (max-width: 576px) {
	/* photos style */
	.photos_item {
		margin: 0 auto;
		margin-bottom: 2rem;
	}
}
@media (max-width: 480px) {
	html, body {
		font-size: 10px;
	}
	/* header style */
	.navbar a {
		margin: 0 auto;
	}
	.navbar-brand img {
		padding-left: 0rem;
		padding-right: 0rem;
	}
	.header_info {
		margin: 0 auto;
	}
	.header_info p {
		padding-right: 0rem;
	}

	/* news style */
	.news_item {
		margin: 0 auto;
	}
	.news_item:first-child {
		padding-bottom: 3rem;
	}

	/* photos style */
	.photos_item {
		margin: 0 auto;
		margin-bottom: 2rem;
	}

	/* blog style */
	.blog_item h2 {
		color: #5e5e63;
		padding-bottom: 1.5rem;
	}
	.blog_item p {
		padding-bottom: 1.5rem;
	}

	/* footer style */
	.footer_top__title {
		text-align: center;
		padding-bottom: 1rem;
	}
	.footer_top__soc {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.footer_bottom__info {
		padding-bottom: 1rem;
	}
	.footer_bottom__copyright p {
		text-align: center;
		padding-bottom: 1rem;
	}
	.footer_bottom__do {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}